body {
    font-family: 'Calibri';
    margin: 5% 20% 5% 20%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.txt-box {
    padding: 0px 10px 10px 10px;
    border: 2px;
    border-style: groove;
    border-color: dodgerblue;
    background-color: paleturquoise;
    border-radius: 50px;
}
